@import "tailwindcss";
.debug {
    border: 2px solid red;
}

.debug>* {
    border: 2px solid green;
}

.debug>*>* {
    border: 2px solid blue;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}


/* Add this for dark background */

body {
    background-color: #000;
    color: white;
}


/* Or add this class to your main container */

.dark-space-bg {
    background: radial-gradient(ellipse at center, #0a0a23 0%, #000000 100%);
}


.tooltip-container {
    position: relative;
    display: inline-block;
    
}