

.pageContainer
{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;



  height: 100%;
  width: 100%;




}


.gameContainer
{
  display: flex;
  flex-direction: column;
  height: 74vh;
  width: 90%;

  /* border: 5px solid yellow; */
}


.gameHeader
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  gap: 20px;

  padding: 20px 50px;
  background-color: transparent;


}


.gameUser
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    & h1
    {
        font-size: 20px;
        font-weight: 800;
    }
}

.playGround
{
    border: 11px solid white;
    height: 58vh;
    border-radius: 20px;
    background-color: rgb(93, 93, 93);
    /* opacity: 40%; */

    display: flex;
    justify-content: space-around;
}


.left, .right
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;

  background: transparent;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100px;
  height: 100px;

  & h2
  {
    font-weight: 800;
    background: transparent;
    opacity: 70%;
  }

}



